/* GLOBAL */
/* GLOBALS */
/* theme colors */
/* theme fonts */
/* UTILS */
@import url("https://fonts.googleapis.com/css?family=Molengo|Oleo+Script|Raleway");
.c-card .c-card__name {
  font-weight: bold; }

.c-card .c-card__name {
  text-transform: uppercase; }

.c-card .c-card__meta {
  text-align: center; }

.u-no-margin, .c-card .c-card__name {
  margin: 0; }

.u-margin {
  margin: 30px; }

.u-small-margin, .c-card, .c-card .c-card__meta, .c-card .c-card__image, .c-card .c-card__buttons {
  margin: 15px; }

.u-large-margin, .container {
  margin: 60px; }

.u-margin-remove-top, .c-card .c-card__image {
  margin-top: 0; }

.c-card .c-card__buttons button:not(:first-child) {
  margin-left: 15px; }

.u-padding {
  padding: 30px; }

.u-no-padding {
  padding: 0; }

.u-small-padding {
  padding: 15px; }

.u-large-padding {
  padding: 60px; }

.u-flex-center, .c-card, .c-card .c-card__buttons {
  display: flex; }

.c-card {
  flex-direction: column; }

.u-flex-center, .c-card, .c-card .c-card__buttons {
  justify-content: center; }

.u-flex-center, .c-card, .c-card .c-card__buttons {
  align-content: center; }

.c-card {
  align-items: center; }

.u-default-border, .c-card, .c-card .c-card__image {
  border-radius: 6.25px; }

.c-button, .c-button-primary, .c-button-small {
  border-radius: 50px; }

.c-card .c-card__image {
  border-radius: 100px; }

.u-default-border, .c-card, .c-card .c-card__image {
  border: 1px solid rgba(0, 0, 0, 0.1); }

/* COMPONENTS */
.c-card {
  padding: 30px;
  width: 300px;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1); }
  .c-card .c-card__image {
    width: 150px;
    height: 150px;
    padding: 10px; }
  .c-card .c-card__name {
    font-family: "Molengo", sans-serif;
    font-size: 1.5em;
    line-height: 1em; }
  .c-card .c-card__email {
    font-size: .8em;
    color: #8b8b8b; }
  .c-card .c-card__buttons {
    width: 100%; }

.c-button, .c-button-primary, .c-button-small {
  width: calc(100% / 2);
  padding: 10px 20px;
  font-weight: bold;
  text-align: center;
  color: #00b7b5;
  border: 2px solid #00b7b5;
  background: transparent;
  transition: all .5s ease-out; }
  .c-button:focus, .c-button-primary:focus, .c-button-small:focus {
    outline: 0;
    transition: all 0s ease-in; }
  .c-button:active, .c-button-primary:active, .c-button-small:active {
    transition: all 0s ease-in;
    transform: translateY(1px); }
  .c-button:not(:disabled), .c-button-primary:not(:disabled), .c-button-small:not(:disabled) {
    cursor: pointer; }
  .c-button:disabled, .c-button-primary:disabled, .c-button-small:disabled {
    background: #cccccc; }

.c-button:hover:not(:disabled) {
  border-color: #00807f;
  color: #00807f; }
.c-button-primary {
  color: #fff;
  background: #00b7b5; }
  .c-button-primary:hover {
    background: #009291;
    border-color: #009291; }
.c-button-small {
  padding: 5px 10px;
  width: calc(100% / 3);
  font-size: 70%; }

/* GLOBAL SCOPE */
.container {
  display: inline-flex;
  font-family: "Raleway", sans-serif; }

/*# sourceMappingURL=style.css.map */
