/* GLOBALS */
@import url("https://fonts.googleapis.com/css?family=Molengo|Oleo+Script|Raleway");
.c-card .c-card__name {
  font-weight: bold; }

.c-card .c-card__name {
  text-transform: uppercase; }

.c-card .c-card__meta {
  text-align: center; }

.u-no-margin, .c-card .c-card__name {
  margin: 0; }

.u-margin {
  margin: 30px; }

.u-small-margin, .c-card, .c-card .c-card__meta, .c-card .c-card__image, .c-button {
  margin: 15px; }

.u-large-margin, .container {
  margin: 60px; }

.c-card {
  display: flex; }

.c-card {
  flex-direction: column; }

.c-card {
  justify-content: center; }

.c-card {
  align-content: center; }

.c-card {
  align-items: center; }

.c-card {
  padding: 30px;
  width: 300px;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1); }
  .c-card .c-card__image {
    width: 150px;
    height: 150px;
    padding: 10px; }
  .c-card .c-card__name {
    font-family: "Molengo", sans-serif;
    font-size: 1.5em;
    line-height: 1em; }
  .c-card .c-card__email {
    font-size: .8em;
    color: #8b8b8b; }

.c-card, .c-card .c-card__image {
  border-radius: 6.25px; }

.c-card .c-card__image {
  border-radius: 100px; }

.c-card, .c-card .c-card__image {
  border: 1px solid rgba(0, 0, 0, 0.1); }

.c-button {
  width: calc(100% / 2);
  padding: 10px 20px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 50px;
  background: #00b7b5;
  transition: all .5s ease-out; }
  .c-button:focus {
    outline: 0;
    transition: all 0s ease-in; }
  .c-button:active {
    transition: all 0s ease-in;
    box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.2); }
  .c-button:not(:disabled) {
    cursor: pointer; }
  .c-button:disabled {
    background: #ccc; }

.c-button:hover:not(:disabled) {
  background: #ccc;
  transition: background .3s ease-in; }

/* GLOBAL SCOPE */
.container {
  display: inline-flex;
  font-family: "Raleway", sans-serif; }
