%c-button {
    padding: 10px 20px;
    width: calc(100% / 2);
    font-weight: bold;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 50px;
    background: rgb(14, 94, 148);
    transition: all .5s ease-out;
    cursor: pointer;
    @extend %u-small-margin;
}
@mixin button-color ($hover) {
    &.is-hover {
        &:hover {
            background: $hover;
            transition: all .3s ease-in;
        }
    }
}
.c-card__button {
    @extend %c-button;
    @include button-color(rgb(11, 73, 114));
}
