%c-button {
    width: calc(100% / 2);
    @extend %u-small-margin;
    padding: 10px 20px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 50px;
    background: $primary-color;
    transition: all .5s ease-out;
    &:focus {
        outline: 0;
        transition: all 0s ease-in;
    }

    &:active {
        transition: all 0s ease-in;
        box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    }
    &:not(:disabled) {
        cursor: pointer;
    }
    &:disabled {
        background: $disabled-color;
    }
}
@mixin hover-color ($color) {
    &:hover:not(:disabled) {
        background: $color;
        transition: background .3s ease-in;
    }
}
.c-button {
    @extend %c-button;
    @include hover-color(#ccc);
}
