%c-button {
    @extend %u-small-margin, %u-large-border-radius;
    width: calc(100% / 2);
    padding: 10px 20px;
    font-weight: bold;
    text-align: center;
    color: $primary-color;
    border: 2px solid $primary-color;
    background: $transparent-color;
    transition: all .5s ease-out;
    &:focus {
        outline: 0;
        transition: all 0s ease-in;
    }
    &:active {
        transition: all 0s ease-in;
        transform: translateY(1px);
    }
    &:not(:disabled) {
        cursor: pointer;
    }
    &:disabled {
        background: $disabled-color;
    }
}
// Class for the button component
.c-button {
    @extend %c-button;
    &:hover:not(:disabled) {
        border-color: darker($primary-color, 70%);
        color: darker($primary-color, 70%);
    }
    &-primary {
        @extend %c-button;
        color: #fff;
        background: $primary-color;
        &:hover {
            background: darker($primary-color, 80%);
            border-color: darker($primary-color, 80%);
        }
    }
}
