%c-button {
    @extend %u-small-margin, %u-large-border-radius;
    width: calc(100% / 2);
    padding: 10px 20px;
    font-weight: bold;
    text-align: center;
    color: $primary-color;
    border: 2px solid $primary-color;
    background: $transparent-color;
    transition: all .5s ease-out;
    &:focus {
        outline: 0;
        transition: all 0s ease-in;
    }
    &:active {
        transition: all 0s ease-in;
        transform: translateY(1px);
    }
    &:not(:disabled) {
        cursor: pointer;
    }
    &:disabled {
        background: $disabled-color;
    }
}
// Darken color on hover, except disabled element
@mixin hover-color ($color) {
    &:hover:not(:disabled) {
        background: darken($color, 10%);
        transition: background .3s ease-in;
    }
}
// Class for the button component
.c-button {
    @extend %c-button;
    &:hover:not(:disabled) {
        background: $primary-color;
        color: #fff;
    }
    &-secondary {
        @extend %c-button;
        color: #fff;
        background: $primary-color;
        &:hover {
            background: darken($primary-color, 5%);
            border-color: darken($primary-color, 5%);
        }
    }
}
