.c-card {
    @extend %u-flex-center, %u-flex-direction-column, %u-align-item-center, %u-default-border, %u-small-margin;
    padding: $default-padding;
    width: 300px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
    .c-card__meta {
        @extend %u-text-center, %u-small-margin;
    }
    .c-card__image {
        width: 150px;
        height: 150px;
        padding: 10px;
        @extend %u-full-border-radius, %u-default-border, %u-small-margin, %u-no-margin-top;
    }
    .c-card__name {
        @extend %u-bold, %u-uppercase, %u-no-margin;
        font-family: $title-font-family;
        font-size: 1.5em;
        line-height: 1em;
    }
    .c-card__email {
        font-size: .8em;
        color: #8b8b8b;
    }
    .c-card__buttons {
        @extend %u-flex-center, %u-small-margin;
        width: 100%;
        button {
            &:not(:first-child) {
                @extend %u-small-margin-left;
            }
        }
    }
}