$margin: 6rem;
$directions: top, right, bottom, left;

// Margin Placeholders //
%margin         { margin: $margin; }
%margin-small   { margin: $margin / 2; }
%margin-large   { margin: $margin * 2; }
%no-margin      { margin: 0; }

@each $direction in $directions {
    
    %margin-small-#{$direction}     { margin-#{$direction}: $margin / 2; }
    %margin-large-#{$direction}     { margin-#{$direction}: $margin * 2; }
    %no-margin-#{$direction}        { margin-#{$direction}: 0; }
}

// Helpers //
._margin        { @extend %margin; }
._no-margin     { @extend %no-margin; }
._margin-small  { @extend %margin-small; }
._margin-large  { @extend %margin-large; }

._margin-small-top     { @extend %margin-small-top; }
._margin-small-bottom  { @extend %margin-small-bottom; }

._margin-remove         { @extend %no-margin; }
._margin-remove-top     { @extend %no-margin-top; }
._margin-remove-bottom  { @extend %no-margin-bottom; }