$directions: top, right, bottom, left;
$default-padding: 30px;

%u-padding { padding: $default-padding; }
%u-no-padding { padding: 0; }
%u-small-padding { padding: $default-padding / 2; }
%u-large-padding { padding: $default-padding * 2; }

@each $direction in $directions {
    %u-no-padding-#{$direction} { padding-#{$direction}: 0; }

    %u-small-padding-#{$direction} { padding-#{$direction}: $default-padding / 2; }
    %u-large-padding-#{$direction} { padding-#{$direction}: $default-padding * 2; }
}

.u-padding { @extend %u-padding; }
.u-no-padding { @extend %u-no-padding; }
.u-small-padding { @extend %u-small-padding; }
.u-large-padding { @extend %u-large-padding; }