$directions: top, right, bottom, left;
$padding: 6rem;

// Padding Placeholders //
%padding        { padding: $padding; }
%no-padding     { padding: 0; }
%padding-small  { padding: $padding / 2; }
%padding-large  { padding: $padding * 2; }

@each $direction in $directions {
    
    %padding-small-#{$direction}   { padding-#{$direction}: $padding / 2; }
    %padding-large-#{$direction}    { padding-#{$direction}: $padding * 2; }
    %no-padding-#{$direction}       { padding-#{$direction}: 0; }
}

// Helpers //
._padding               { @extend %padding; }
._padding-small         { @extend %padding-small; }
._padding-large         { @extend %padding-large; }
._no-padding            { @extend %no-padding; }

._padding-small-top     { @extend %padding-small-top; }
._padding-small-bottom  { @extend %padding-small-bottom; }

._padding-remove        { @extend %no-padding; }
._padding-remove-top    { @extend %no-padding-top; }
._padding-remove-bottom { @extend %no-padding-bottom; }