@import 'fonts';
@import 'margins';
@import 'paddings';
@import 'flexbox';
@import 'card';
@import 'borders';

/* GLOBAL SCOPE */
@import url('https://fonts.googleapis.com/css?family=Molengo|Oleo+Script|Raleway');

$default-color: #333;
$primary-color: #064251;
$secondary-color: #00b7b5;

$font-family: 'Raleway', sans-serif;
$title-font-family: 'Molengo', sans-serif;

body {
    @extend %u-large-margin;
    font-family: $font-family;
}