%u-text-muted { color: $muted-color; }
%u-text-primary { color: $primary-color; }
%u-text-secondary { color: $secondary-color; }
%u-text-success { color: $success-color; }
%u-text-warning { color: $warning-color; }
%u-text-danger { color: $danger-color; }

