/* GLOBALS */

$default-color      : #333;
$primary-color      : #00b7b5;
$secondary-color    : #064251;
$disabled-color     : #ccc;
$muted-color        : #ccc;
$success-color      : #27ca8e;
$warning-color      : #faa05a;
$danger-color       : #db3d5a;
$transparent-color  : transparent;


$font-family        : 'Raleway', sans-serif;
$title-font-family  : 'Molengo', sans-serif;